<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.def.everybody_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.def.everybody_android.di.HiltApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.def.everybody_android.ui.AlarmActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.def.everybody_android.ui.MyPageActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="oauth"
                    android:scheme="kakao4cfb36b0d3bc2648d919b567153397ad" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.def.everybody_android.ui.CreateFolderActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.def.everybody_android.ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="oauth"
                    android:scheme="kakao4cfb36b0d3bc2648d919b567153397ad" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.def.everybody_android.ui.camera.CameraActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.def.everybody_android.ui.picture.PictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.def.everybody_android.ui.panorama.PanoramaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.def.everybody_android.ui.panorama.edit.PanoramaEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.def.everybody_android.ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.panorama.download.DownloadActivity" />
    </application>

</manifest>