<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.everybody_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".di.HiltApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".ui.AlarmActivity"
            android:exported="true" />
        <activity
            android:name=".ui.MyPageActivity"
            android:exported="true" />
        <activity
            android:name=".ui.CreateFolderActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.picture.PictureActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.panorama.PanoramaActivity"
            android:screenOrientation="fullSensor" />
    </application>

</manifest>